
body {
    background-color: black;
/* overflow-x: hidden; */}
#header-container i {
    display: none;
}

#nav-logo .navbar ul li:nth-child(3) {
border-bottom: 4px solid white;
border-radius:8px ;
}
#nav-logo .navbar-user ul li:nth-child(3) {
    border-bottom: 4px solid white;
    border-radius:8px ;
    }
.about-us_first-part {
    width: 100vw;
    height: auto;
    background-color: black;
    color: white;
    position: relative;
    z-index: 4;
}
.about-us_first-part .welcome-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 5rem;
    margin-top: 2rem;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    width: fit-content;
    font-family: 'Playfair Display', serif;
}
.about-us_first-part .intro-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding:2.2rem 0 0 10rem;
}
.office-info {
    padding-left: 15rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    padding-top: 1.8rem;
    color: rgba(245, 245, 245, 0.875);
}
.about-us_first-part ul {
    list-style: none;
}
.about-us_first-part ul li {
    font-family: 'Open Sans', sans-serif;
    padding-left: 22rem;
    width: 70%;
    color: rgba(196, 196, 196, 0.8);
    font-weight: 700;
    padding-top: 2.4rem;
}
.about-us_first-part ul li:nth-child(2) {
    margin-left: 6rem;
}
.about-us_first-part ul li:nth-child(3) {
    margin-left: 12rem;
}
.about-us_first-part ul li:last-child {
    margin-left: 18rem;
    text-align: right;
    padding-right: 2rem;
    font-size: 1.2rem;
    color: white;
}
.about-us_second-part {
    width: 100vw;
    height:140vh;
    background-color: black;
    color: white;
    position: relative;
    z-index: 4;
}
.about-us_second-part .origin-title {
    text-align: right;
    font-size: 3rem;
    padding-right: 6rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    padding-top: 3rem;
}
.about-us_second-part ul {
    list-style: none;
    margin-top: 2rem;
}
.about-us_second-part ul li {
    width: 50%;
    float: right;
    font-family: 'Open Sans', sans-serif;
    color: rgba(196, 196, 196, 0.8);
    font-weight: 700;
    margin-right: 10rem;
    padding-top: 2rem;
}
.about-us_second-part ul li:nth-child(2) {
    margin-right: 17rem;
}
.about-us_second-part ul li:nth-child(3) {
margin-right: 23rem;
}
.about-us_second-part ul li:last-child {
    margin-right: 33rem;
    }    
.wrap {
    width: 100vw;
    height: auto;
    background-color: black;
    position: relative;
    padding: 0 0 0 150px;
    z-index: 4;
}
.g-title {
    padding-top: 50px;
    margin-bottom: 80px;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Playfair Display', serif;
}
.g-title span {
    font-family: 'Playfair Display', serif;
    color: black;
    background-color: white;
    display: block;
    width: fit-content;
    margin-left: 80px;
    margin-top: 30px;
    padding:  0 5px;
}
.reveal-img {
    display: flex;
    flex-wrap: wrap;
}
.reveal-img-item {
    margin-inline: 80px;
    margin-bottom: 250px;
    width: 380px;
    height: 460px;
    display: flex;
    align-items: start;
}
.reveal-img-item img {
    display: block;
    width: 318px;
    height: 465px;
    object-fit: cover;
    will-change: transform;
}
.reveal-img-item:nth-child(2),.reveal-img-item:last-child {
    transform: translateY(150px);
}
.reveal-img-num {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    transform: rotate(180deg);
        writing-mode: vertical-lr;
    padding-bottom: 10px;
}
.reveal-img-inner,.reveal-img-bl {
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%,0% 0%,0% 100%,0% 100%);
}
.reveal-img-inner {
    background-color: rgb(34, 34, 34);
}
.reveal-img-bl {
    overflow: hidden;
}
.about-us-wrapper {
    background-image: url(../images/about-us-wrapper.jpeg);
    width: 100vw;
    height: 105vh;
    background-attachment:fixed;
    background-size: 40% auto;
    background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}
.about-us-wrapper button {
    position: fixed;
    top: 34%;
    left: 42%;
    width: 17%;
    height: 42px;
    border: none;
    background-color: #000000;
    cursor: pointer;
    color: white;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: 0.3s ease;
}
.about-us-wrapper button::after,
.about-us-wrapper button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  transition: width 0.7s ease, background-color 0.3s ease;
}
.about-us-wrapper button:hover::after,
.about-us-wrapper button:hover::before {
  width: 100%;
  background-color: #ffffff;
}
.about-us-wrapper button:hover {
  color: black;
}