/* =============view users and manage them part============== */
.error {
  color: red!important;
  padding: -2rem 0!important;  
  }
  .error:focus {
  color: red;
  outline:2px solid red;
  }
  .translator_wrapper .message {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 45%;
    z-index: 10;
    font-size:1.3rem;
    font-weight: 700;
    height: 150px;
    background-color: white;
    border: 1px solid #111;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  .translator_wrapper .message button {
    width: 30%;
    height: 2.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 0 3px black;
    cursor: pointer;
  }
  .translator_wrapper .message button a {
      color: white;
    text-decoration: none;
  }
.user_container {
    color: white;
    width: 90%;
    height: auto;
    border: 1px solid white;
    margin-inline: auto;
    margin-top: 2rem;
}
.user_container .management_title {
    font-size: 2.2rem;
    text-align: center;
    padding-left: 1rem;
}
.user_container .search_users {
    padding-right: 1rem;
}
.search_users button {
    height: 1.8rem;
    width: 5rem;
    background-color: #111;
    color: white;
    transform: translateX(-20px);
    border: none;
    box-shadow: 0 0 2px white;
}
.search_users input[type='text'] {
    width: 10rem;
    height: 1.8rem;
}
.view_search_users {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_container #members {
    border-collapse: separate;
    border-spacing: 3px;
    width: 100%;
}
.user_container #members th,.user_container #members td{
border: 1px solid white;
font-family: 'PT Mono', monospace;
}
.user_container #members th {
    height: 2rem;
    font-size: 1.2rem;
    font-family: 'PT Mono', monospace;
}
.user_container #members td {
    padding-left: 5px;
    height: 1.7rem;
}
.user_container #members .admin_sign{
font-size: 1.5rem;
text-align: center;
}
.user_container #members td a {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: white;
    transition: 0.15s ease;
}
.user_container #members td a:hover {
    text-shadow: 0 0 2px white;
}
/* ======view user profile and edit it=============== */
#header-container .accountinfo{
    width: 100vw;
    height: 88.5%;
    display: flex;
    position: relative;
    padding-top: 1.5rem;
  }
  #header-container .accountinfo .detail-title{
    width: 100%;
    height: 3.5rem;
    font-size: 2.2rem;
    color: white;
    padding-left: 2rem;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ffffff90 ;
    position: absolute;
    top:0;
    left: 0;
  }
  .crud_butons {
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-left: 1px solid white;
    display: flex;
  }
  .crud_butons form {
    height: 100%;
  }
  .crud_butons form input {
    height: 100%;
    font-size: 2.2rem;
    background-color: transparent;
    color: white;
    border: none;
    border-left: 1px solid white;
    padding-left: 2rem;
    cursor: pointer;
  }
#header-container .accountinfo .detail-title a{ 
    height: 100%;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    letter-spacing: 3px;
    text-align: center;
    transition: 0.15s ease; 
}
#header-container .accountinfo .detail-title a i {
    font-size: 2.5rem!important;
    transform: translateY(6px); 
}
#header-container .accountinfo .detail-title  a:hover,.crud_butons form input:hover {
text-shadow: 0 0 3px white;} 

  .accountinfo .profilepicture {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
  }
  .accountinfo .profilepicture form {
    text-align: center;
    color: white;
  }
  .accountinfo .profilepicture form label {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .accountinfo .profilepicture form input[type='file'] {
    width: 100%;
    margin-top: 1rem;
    padding-left: 4.8rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .accountinfo .profilepicture img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px whitesmoke;
  }

  .accountinfo .user-details {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 3rem 3rem 0 0;
    height: 100%;
    width: 60%;
  }
  .accountinfo .user-details .form-row {
    width: 100%;
    height: 4rem;
    gap: 0.5rem;
  }
  .accountinfo .user-details .form-row #name,#surname,#phone,
  #birthdate,#email,#password,#personalnr,#role,select {
    width: 18rem;
    height: 2.7rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .accountinfo .user-details .form-row #editInfo {
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .accountinfo .user-details .deleteUser {
    width: 9rem;
    height: 2.5rem;
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    transition: 0.3s ease;
    border: none;
  }
  .accountinfo .user-details .deleteUser:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 3px white;
}
  .accountinfo .user-details .form-row label {
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;

  }
  /* ===========edit user profile part============ */
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 40px; 
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    height: 100%;
}
.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_edited_check {
    color: white;
    font-size: 1.5rem;
}
/* ===============staff part of the website========== */
.staff_nav {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
  color: white;
  padding-inline: 2rem;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.571);
  margin-top: -1rem;
}

.staff_nav a {
  width: 20%;
  height: 3rem;
  color: white;
  font-size: 2.2rem;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s ease;
}
.staff_nav a:hover {
  background-color: #111;
  text-shadow: 0 0 3px white;
}
.translator_wrapper {
  width: 80vw;
  margin-inline: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 4rem;
  margin-top: 3rem;
  color: white;
}
.translator_wrapper .translator-container {
  width: 47%;
  box-shadow: 0 0 5px white;
  display: flex;
  background-color: #090909;
  position: relative;
  transition: 0.2s ease;
}
.translator_wrapper .individual-container {
  width: 100%;
  box-shadow: 0 0 5px white;
  display: flex;
  background-color: #090909;
  position: relative;
  transition: 0.2s ease;
}
.translator_wrapper .translator-container:hover {
transform: scale(1.02);
}
.info_text {
  width: 100%;
}
.translator_wrapper .translator-container  .staff_name {
  font-size: 1.6rem;
  padding: 1rem 0 1rem 1rem;
  background-color: white;
  color: black;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.557);
  width: 100%;
}
.translator_wrapper .individual-container  .staff_name span  {
margin-left: 8rem;
}
.translator_wrapper .individual-container  .staff_name,
.individual-container  .staff_name span {
  font-size: 2.2rem;
  padding: 1rem 0 1rem 2rem;
  background-color: white;
  color: black;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.557);
  width: 100%;
}
.translator_wrapper .translator-container .staff_cred,
.staff_projects {
  padding: 0.5rem 1.1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.557);
}
.translator_wrapper .individual-container .staff_cred,
.staff_projects,.projects {
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.557);
}
.projects {
  border-bottom: unset;
}
.translator_wrapper .individual-container table {
  border-collapse: separate;
    border-spacing: 3px;
    padding:0 2rem;
}
.translator_wrapper .individual-container table td,
.translator_wrapper .individual-container table th {
  border: 1px solid white;
}
.translator_wrapper .individual-container table td {
  padding-left: 0.5rem;
  font-size: 1.1rem;
}
.translator_wrapper .individual-container table td:nth-child(1) { text-align: center; 
}
.translator_wrapper .individual-container table th {
  width: 23%;
  padding-inline: 1rem;
  font-size: 1.2rem;
}
.staff_projects span {
  font-size: 1.3rem;
}
.staff_projects .active {
  color: rgb(1, 167, 1);
}
.staff_projects .inactive {
color: red;}
.translator_wrapper .translator-container img {
  width: 250px;
  object-fit: cover;
}
.translator_wrapper .individual-container img {
  width: 300px;
  object-fit: cover;
}
.view_manage {
  position: absolute;
  width: 51%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  bottom: 0;
  right: 0;
  padding-left: 1rem;
}
.view_manage  a{ 
  width: 40%;
  height: 100%;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==========insert translator part=============== */
 .user-details {
  width: 63%;
  margin: 0 0 0 8rem;
}
 .user-details .form-row {
  gap: 1.3rem;
  justify-content: space-between;
  align-items: center;
}
 .user-details .form-row input {
  width: 18rem;
  height: 2.5rem;
  font-size: 1.3rem;
  padding-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
 .user-details input[type='submit'] {
  width: 15rem;
  height: 3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  transition: 0.3s ease;
  border: none;
  margin:3rem 0 0 3rem;
}
 .user-details input[type='submit']:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 3px white;
}
 .user-details .form-row label {
  color: white;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 8px;

}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; 
}

.form-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.process_info {
  font-size: 1.7rem;
  position: absolute;
  top: -1rem;
  left: -4rem;
  }
  .sukses {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1rem;
  }
  /* ===========delete translator form============== */
  .buy-title form input {
    display: block;
    width: 30%;
    height: 2rem;
    margin-inline: auto;
 }
    .buy-title {
        font-size: 1.2rem;
        color: black;
        outline: 2px solid black;
        position: absolute;
        top: 10%;
        left: 30%;
        width: 50%;
        height: 35%;
        z-index: 5;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .buy-title i {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .delete_succes {
      font-size: 1.3rem;
    }