
@keyframes flickering-light {
    0% {
      color: #fff;
    }
    50% {color: #111;}
    100% {
      color: #fff;
    }
  }
/* =========view document status part=========== */
.intro_title {
    position: absolute;
    top: -11px;
    font-size: 2.4rem;
    letter-spacing: 2px;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}
.info_subtitle {
    position: absolute;
    display: flex;
    top: 3.3rem;
    border-bottom: 1px solid white;
    left:0 ;
    background-color: #111;
    color: white;
    width: 99vw;
    height: 4rem;
    border-right: 15px solid white;

}
.info_subtitle h2 {
    font-size: 1.1rem;
    padding:0.5rem 3rem 0 1.5rem;
    width: 55%;
    border-right: 15px solid white;
    font-family: 'Open Sans', sans-serif;
}
.info_subtitle .counter_text {
    font-size: 2.2rem;
    padding: 5px 0 0 2rem;
    font-family: 'Open Sans', sans-serif;
    
}
.info_subtitle .double_digit_counter {
    font-size: 4rem;
    transform: translateY(-8px);
    letter-spacing: 5px;
    padding-left: 2rem;
    font-family: 'Roboto Mono', monospace;
    animation: flickering-light 4s infinite alternate;
}
.doc-progress {
    width: 47vw;
    height: fit-content;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 9rem;
    color: white;
    box-shadow: 0 0 5px white;
    position: relative;   
  }
 .doc-progress .progress-title {
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    background-color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    text-shadow: 1px 0 1px black;
  }
  .doc-progress table {
    width: 100%;
    padding-inline:1rem;
    border-spacing: 1px 1px;
    border-collapse: collapse;
  }
  .doc-progress table th {
    border: 1px solid white;
    border-top: unset;
    height: 3rem;
    font-size: 1.1rem;
    font-family: 'PT Mono', monospace;
  }
  .doc-progress table td {
    border: 1px solid white;
    height: 3rem;
    transition: 0.3s ease;
    padding-left: 5px;
    font-family: 'PT Mono', monospace;
  }
  .doc-progress table td i:hover {
    text-shadow: 0 0 2px white;
    font-size: 1.5rem;
  }
  .doc-progress table td:nth-child(1),.doc-progress table td:last-child {
    text-align: center;
    padding-left: unset;
  }
  .doc-progress table td:last-child {
    font-size: 1.3rem;
    transition: 0.25s ease;
  }
  .doc-progress table td a {
    text-decoration: none;
    color: white;
  }
  /* ==============view single document part============ */
  .doc-container {
    width: 85vw;
    height: fit-content;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 9rem;
    color: white;
    box-shadow: 0 0 5px white;
    position: relative;   
  }
  .doc-container .progress-title {
    width: 100%;
    height: auto;
    font-size: 2.3rem;
    height: 5rem;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid gray;
    color: black;
    background-color: white;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    text-shadow: 1px 0 1px black;
    position: relative;
  }
  .doc-container .progress-title a {
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
  }
  .doc-container .progress-title a:hover {
    text-shadow: 2px 2px 5px black;
    color: #fff;
  }
  .doc-container .progress-title i {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 5rem;
  }
 .doc-container .doc_info {
  font-size: 1.6rem;
  padding: 1rem;
  font-family: 'PT Mono', monospace;
  letter-spacing: 1px;
}
.doc-container .doc_info:nth-child(3) {
  display: inline;
  padding-top: 1rem;
}
.doc-container .doc_info .green,.doc-container .doc_info .red,
.doc-container .doc_info .gray {
  font-size: 1.6rem;
  padding: 1rem;
  font-family: 'PT Mono', monospace;
  letter-spacing: 1px;
}
.doc-container .doc_info .green {
  color: rgb(3, 167, 3);
}
.doc-container .doc_info .red {
  color: red;
}
.doc-container .doc_info .gray {
  color: rgb(198, 198, 198);
}
.client_translator_card {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.client_translator_card .card {
display: flex;
font-size: 1.2rem!important;
}
.client_translator_card .card:nth-child(1) {
  border-right: 2px solid white;
}
.client_translator_card .card_profile {
  width: 250px;
  height: 300px;
  object-fit: cover;
}