.error {
  color: red!important;
  padding: -2rem 0!important;  
  }
  .error:focus {
  color: red;
  outline:2px solid red;
  }
  .editButton {
    display: inline!important;
    margin:1rem 0 0  2rem;
    width: 20%;
    height: 3rem;
  }
  .noPosts {
    text-align: center;
    font-size: 2rem;
    padding-top: 1.5rem;
  }
/* ================blog navigation================ */
.blog_menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
}

.blog_menu ul {
    width: 100%;
    padding-left: 8rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.blog_menu ul li {
    border-right: 2px solid black;
    padding:0  2rem;
    position: relative;
}
.blog_menu ul .restricted {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(194, 194, 194);
  position: relative;
}
.blog_menu ul .restricted::after {
  content: 'Buy plan to unlock';
  display: block;
  position: absolute;
  bottom: -10px;
  font-size: 0.8rem;
  right: 15px;
}
.blog_menu ul li a {
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    color: black;
    position: relative;
}
.blog_menu ul li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    z-index: 1;
  }
  
  .blog_menu ul li a:hover::after {
    transform: scaleX(1);
    z-index: 1;
  }
  .blog_menu form {
    width: 30%;
    height: auto;
    display: inline-block;
  }
  .blog_menu input[type='text'] {
    height: 2rem;
    padding-left: 8px;
    border: 1px solid black;
  }
  .blog_menu button {
    height: 2rem;
    width: 5rem;
    background-color: black;
    color: white;
    transform: translateX(-20px);
    border: none;
  }
  /* ====================the blog part==================== */
.blog-container {
    width: 100%;
    padding-inline: 2rem;
    height: auto;
    position: relative;
    display: flex;
    gap: 3rem;
}

.post-container {
    padding: 20rem 0 0 5rem;
    color: white;
    width: 60%;
    position: relative;
}
.post_number {
    margin-bottom: 1.1rem;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.post-meta .date {
    color: rgb(8, 155, 8);
}
.all_posts_title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color: white;
    background-color: black;
}
.blog-post .author_profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.blog-post {
    background-color: #111;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    position: relative;
}
.blog-post .author_info {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0 0 1rem 2rem;
}
.blog-post .post-title {
  padding: 1.5rem 2rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}
.blog-post .post-meta {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  padding-bottom: 1rem;
  transform: translateY(8px);
}
.blog-post .post-content {
  padding-inline: 2rem;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(245, 245, 245, 0.856);
}
.blog_introduction {
    color: white;
    padding: 8rem 0 0 5rem;
    font-size: 4rem;
    text-decoration: underline;
    position: absolute;
    font-family: 'Playfair Display', serif;
}
.blog-post .blog_banner {
    width: 80%;
    height: 300px;
    margin-inline: 3rem;
    object-fit: cover;
}
.show-all-link {
  width: 20%;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.show-all-link a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}
/* ===============stay in touch part of the page=============== */
 
.socials_news {
    margin-top: 20rem;
    width: 30%;
    height: 2040px;
    background-color: #111;
    color: white;
} .newsletter {
    font-size: 1.5rem;
  }
  .newsletter .newsletter-text {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    border-inline: 1px solid white;
    padding: 3rem 2rem;
    font-weight: 700;
  }
  .newsletter input {
    margin: 1.5rem 0 ;
    font-size: 1.1rem;

  }
  .newsletter input[type='email'] {
    padding-left: 5px;
    width: 60%;
    height: 2.5rem;
    margin-left: 2rem;
    box-shadow: 0 0 3px white;
    border: none;
  }
  .newsletter input[type='submit'] {
    height: 2.5rem;
    width: 25%;
    border: none;
    background-color: black;
    font-weight: 700;
    box-shadow: 0 0 3px white;
    font-family: 'Roboto Mono', monospace;
    color: white;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .newsletter input[type='submit']:hover {
    background-color: #111;
  }
  .social_media {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
   .social_media_title {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
  text-align: center;
  padding-bottom: 8px;
    margin: 3rem 0;
    border-bottom: 1px solid white;
  }
    .social_media a {
    color: white;
    width: fit-content;
    padding-left: 2.8rem;
    transition: 0.3s ease;
}
  .social_media i {
    text-align: center;
    font-size: 6rem;
    padding: 2.5rem 0;
    transition: 0.1s ease;
    border-bottom: 1px solid white;
  }
  .social_media a:hover {
    transform: translateX(-10px);
  }
  .social_media  a:nth-child(2):hover {
    color: #1D9BF0;
  }
  .social_media a:nth-child(3):hover {
    color: #1877F2;
  }
  .social_media a:nth-child(4):hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .social_media a:nth-child(5):hover {
    color: orangered;
  }
  .social_media a:nth-child(6):hover {
    color: purple
  
  }
  .tags_table td {
    padding-bottom: 0.6rem;
    padding-left: 1rem;
  }
  .tags_table td a {
    color: white;
  }
  /* ===========blog insert part============ */
  .post-container form  {
    width: 100%;
    height:auto;
    background-color: #111;
    padding-bottom: 2rem;
  }
  .post-container form input,label  {
display: block;
font-size: 1.5rem;
  }
  .post-container form label  {
    padding:1rem 0 1rem 4rem;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
  }
  .post-container form input[type='text'] {
    width: 90%;
    height: 3rem;
    margin-inline: auto;
    font-family: 'Open Sans', sans-serif;
    padding-left: 8px;
  }
  .post-container form input[type='file'] {
    margin-left: 2.1rem;
  }
  .post-container form textarea {
    max-width: 90%;
    min-height: 400px;
    min-width: 90%;
    max-height: 400px;
    margin-inline: 2.1rem;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;

  }
  .post-container   #imagePreview img {
    max-width: 90%;
    margin-inline: 2rem;
    height: auto;
    margin-top: 10px;
    border: 2px solid black;
    object-fit: cover;
}
.post-container form .addPost {
    margin:2rem 2.1rem;
    width: 30%;
    height: 3rem;
    background-color: white;
    border: none;
    box-shadow: 0 0 2px white;
    font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  transition: 0.3s ease;
  cursor: pointer;
}
.deleteBlog {
  width: 10%;
  background-color: white;
  color: black;
  text-decoration: none;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s cubic-bezier(0.39, 1, 0.22, 1);
  }
  .deleteBlog:hover {
    background-color: black;
    color: white;
  }
.post-container form input[type='submit']:hover {
  background-color: black;
  color: white;
}
/* =============individual blog post part========== */
.post-container .single_post_number {
  text-align: center;
  padding: 1rem 0 2rem 0;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
}

.post-container .single_post-title {
  padding: 2rem 2rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  font-size: 1.7rem;
}
.post-container .single_post-meta {
  padding:0  0 2rem 2rem;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}
.post-container .single_post-date {
  color: rgb(8, 155, 8);
  font-weight: 700;
}
.post-container .single_post-content {
  padding-inline: 2rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  color: rgba(245, 245, 245, 0.856);
}
.post-container .edit_post {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-family: 'Roboto Mono', monospace;
letter-spacing: 1px;
text-transform: uppercase;
transition: 0.2s ease-in;
}
.post-container .edit_post:hover {
background-color: black;
color: white;
}
/* ============blog delete part=============== */
.postNotif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  background-color: white;
  color: black;
  font-weight: 700;
}
.postNotif p {
  padding-left: 1.5rem;
}
.postNotif a {
  color: white;
  height: 2.1rem;
  width: 20%;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px white;
  transition: 0.2s ease;
}
.postNotif a:hover {
  background-color: #111;
}