.error {
  color: red!important;
  padding: -2rem 0!important;  
  }
  .error:focus {
  color: red;
  outline:2px solid red;
  }
 .file-progress .modifyButton {
  display: block;
    color: black;
    background-color: white;
    width: 15rem;
    height: 5.5rem;
    font-size: 2rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
  }
  .file-progress .message {
    position: absolute;
  top: 25%;
  left: 32%;
  width: 35%;
  z-index: 10;
  font-size:1.3rem;
  font-weight: 700;
  height: 250px;
  background-color: white;
  border: 1px solid #111;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;  
  }
.file-form .message,.file-modify .message {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 45%;
  z-index: 10;
  font-size:1.3rem;
  font-weight: 700;
  height: 150px;
  background-color: white;
  border: 1px solid #111;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.file-progress .message button {
  width: 30%;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
.file-form .message button,.file-modify .message button { 
  width: 30%;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
  #header-container {
    display: flex;
  }
 
  #nav-logo ul li:nth-child(1) {
    border-bottom: 4px solid white;
    border-radius: 8px;
  }
  /* =====document proggress part======== */
  .file-progress {
    width: 70vw;
    overflow: scroll;
    height: 85vh;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 5px white;
   
  }
  .progress-title {
    width: 100%;
    padding:0 10rem;
    height: auto;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
  }
  .file-progress table {
    width: 100%;
    height: auto;
    padding-inline:1rem;
    border-spacing: 1px 1px;
    border-collapse: collapse;
  }
  .file-progress table th {
    border: 1px solid white;
    border-top: unset;
    height: 4rem;
    font-size: 1.3rem;
  }
  .file-progress table td {
    border: 1px solid white;
    padding-left: 1rem;
    height: 3rem;
    transition: 0.3s ease;
  }
  .file-progress table td a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
  }
  .file-progress table td a:hover {
    color: black;
  }
  .file-progress table td:last-child:hover {
    background-color: white;

  }
/* ==============dashboard part for the translator =============== */
.file-progress p {
    font-size: 2rem;
    height: auto;
    padding: 1rem;
    border-bottom: 1px solid white;
}
.file-progress p span {
   text-decoration: underline;
}
.file-progress a {
    font-size: 1.5rem;
    font-weight: 700;
}

.go_back-button {
float: right;
width: 15%;
height: 4.25rem;
margin-left: 1rem;
padding-top: 1rem;
padding-left: 1.5rem;
text-decoration: none;
color: white;
transition: 0.3s ease;
}
.go_back-button:hover {
background-color: white;
color: black;
}
/* ========translator submit part======== */
.file-form {
    width: 80vw;
    height: 85vh;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 5px white;
    position: relative;
  }
  .file-form #document {
    width: 40%;
    margin-inline: auto;
  }
  .file-form #document * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .file-form textarea,label,select {
    display: block;
    padding-left: 1rem;
  }
  .file-form input[type='file'] {
    height: 2rem;
    padding-left: 7rem;
  }
  .file-form input[type='submit'] {
    height: 2.2rem;
    font-size: 1.3rem;
    background-color: white;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0 0 3px white;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .file-form input[type='submit']:hover {
    background-color: black;
    color: white;
    font-weight: 700;
  }
  .file-form input,textarea,select {
    width: 100%;
    height: 2rem;
    margin-top: 0.8rem;
  }
  .file-form textarea {
    max-width: 100%;
    max-height: 4rem;
    min-width: 100%;
    min-height: 4rem;
  }
  .file-form label {
    margin: 0.5rem 0;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
  }
  .file-title {
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
  }
  .track-progress-text {
    width: 45%;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.5rem;
  }
  .track-progress-text a {
    width: 25%;
    height: 2.5rem;
    display: inline-block;
    background-color: white;
    color: black;
    margin-left: 1rem;
    padding-inline: 1.5rem;
    transition: 0.3s ease;
    padding-top: 0.1rem;

  }
  .track-progress-text a:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 3px white;
  }
/* =========view document status part=========== */

.doc-progress {
    width: 70vw;
    overflow: scroll;
    height: 85vh;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 5px white;
    position: relative;   
  }
  .progress-title {
    width: 100%;
    padding:0 10rem;
    height: auto;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
  }
  .doc-progress table {
    width: 100%;
    height: auto;
    padding-inline:1rem;
    border-spacing: 1px 1px;
    border-collapse: collapse;
  }
  .doc-progress table th {
    border: 1px solid white;
    border-top: unset;
    height: 4rem;
    font-size: 1.3rem;
  }
  .doc-progress table td {
    border: 1px solid white;
    padding-left: 1rem;
    height: 3rem;
    transition: 0.3s ease;
  }
  .doc-progress table td a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
  }

  .doc-progress .go-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 3rem;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.3s ease;
  }
  .doc-progress .go-back:hover {
background-color: black;
color: white;
box-shadow: 0 0 3px white;  
}
.file-progress a {
    display: inline-block;
    padding: 1.5rem 0;
    margin-left: 21rem;
}
.file-progress form {
    border-top: 1px solid white; 
    margin-top: 1rem;
    height: auto;
}
.file-progress form label {
    font-size: 1.3rem;
}
.file-progress form  #decline{
    margin-left: 11.5rem;
}

.file-progress form  input,.file-modify form  input{
    width: 30%;
    height: 2.5rem;
    font-size: 1.4rem;
    margin-top: 1.5rem;
    font-weight: 700;
    border: none;
    transition: 0.3s ease;
}
.file-progress form  input[type='submit']:hover,
.file-modify  form  input[type='submit']:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 3px white;
}
.file-modify {
    width: 70vw;
    overflow: scroll;
    height: 85vh;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 5px white;
   
  }
.file-modify p {
    font-size: 2rem;
    height: auto;
    padding: 1rem;
    border-bottom: 1px solid white;
}
.file-modify  p span {
   text-decoration: underline;
}
.file-modify  a {
    font-size: 1.5rem;
    font-weight: 700;
}
.change-info {
    font-size: 1.2rem!important;
}
#details {
    max-width: 100%;
    min-height: 5rem;
    min-width: 100%;
    max-height: 5rem;
}
.file-progress .priority {
    text-align: center;
    text-decoration: underline;
    color: black;
    background-color: white;
    border-top: 2px solid black;
}
.pending {
  text-align: center;
  font-size: 2.5rem!important;
}
.display-title {
  position: absolute;
  top: 70%;
  left: 50%;
  background-color: white;
}
.white {
  background-color: white;
  color: black;
  font-weight: 700;
}