/*======================= pjesa e footerit  ==================*/
#footer-section {
  box-shadow: 0 0 400px black;
  width: 100vw;
  height: 105vh;
  background-color: #000000;
  position: relative;
  z-index: 10;
}

#footer-section .socials-container {
  padding-bottom: 1rem;
  width: 90%;
  height: 45%;
  margin-inline: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#footer-section .socials-container .social-icons {
  color: white;
  width: 100%;
  height: 80%;
  font-size: 6rem;
  display: flex;
  margin-inline: auto;
  align-items: center;
  gap: 5rem;
  transition: 0.3s ease;
}
.socials-container .social-icons i {
  padding-right: 5.7rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
  cursor: pointer;
}

.socials-container .social-icons i:last-child {
  border: none;
}
.socials-container .social-icons i:first-child:hover {
  color: #1d9bf0;
}
.socials-container .social-icons i:nth-child(2):hover {
  color: #1877f2;
}
.socials-container .social-icons i:nth-child(3):hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.socials-container .social-icons i:nth-child(4):hover {
  color: orangered;
}
.socials-container .social-icons i:last-child:hover {
  color: purple;
}
#footer-section .social-credentials {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}
#footer-section .social-credentials ul {
  list-style: none;
  padding: 0 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 2px;
}

#footer-section .social-credentials ul li {
  display: inline;
  padding: 0 1rem;
}
#footer-section .social-credentials ul li a {
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  transition: 0.4s ease;
  position: relative;
}

#footer-section .social-credentials ul li a:hover {
  background-color: white;
  color: black;
}
/* ===================bottom footer part======================= */
.info-container {
  padding-top: 1rem;
  width: 100%;
  height: 55%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.top-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  padding-top: 1rem;
}

.info-container .contact-list {
  width: 25%;
  height: 70%;
  padding-bottom: 1rem;
}
.info-container .quick-contact {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 0 1rem -1rem;
  background-color: white;
  color: #000000;
  width: fit-content;
}
.info-container .contact-list ul {
  list-style: none;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.info-container .contact-list ul li {
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.info-container .contact-list ul li i {
  margin-right: 5px;
  font-size: 1.4rem;
  transition: 0.5s ease;
}
.info-container .contact-list ul li i:hover {
  background-color: white;
  color: black;
}
/* =========newsletter footer part ========== */
.info-container .newsletter {
  margin: 1rem 0 1rem -1rem;
  border-bottom: 1px solid white;
}
input[type="submit"],
.contact-list form input[type="email"] {
  width: 18rem;
}
.contact-list form input[type="email"] {
  height: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 0.8rem;
  font-size: 1rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
}
.contact-list form input[type="email"]::placeholder,
.contact-list form input[type="email"]:focus {
  font-size: 1rem;
  font-family: "Source Sans 3", sans-serif;
}
input[type="submit"] {
  background-color: white;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  height: 2.4rem;
  border: none;
  transition: 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 2px 1px white;
  letter-spacing: 3px;
}
/* ===========blog part of footer============ */
.info-container .blog-spot {
  width: 70%;
  height: 70%;
  display: flex;
  position: relative;
  padding-top: 3rem;
}
.info-container .headline {
  position: absolute;
  top: -1rem;
  left: 10rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}
.info-container .blog-spot .blog-box {
  display: flex;
  width: 70%;
  height: 80%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-inline: 2rem;
}
.info-container .blog-spot .blog-box:last-child {
  border: none;
}

.info-container .blog-spot img {
  width: 90%;
  height: 60%;
  margin-right: 1rem;
  object-fit: cover;
}
.blog-spot .blog-title {
  font-family: "Playfair Display", serif;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.blog-spot .blog-date {
  color: rgb(8, 155, 8);
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.blog-spot .blog-prev {
  color: #b3b3b3;
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 1px;
}
/* ============trademark part of footer ============ */
.trademark-copyright {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
  color: white;
}
.trademark-copyright p {
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Slabo 27px", serif;
}
.trademark-copyright p span {
  font-size: 1.3rem;
  margin-left: 3px;
  font-weight: 700;
}
