* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau SC', sans-serif;
  text-decoration: none;
}
html {
scroll-behavior: smooth;
}
body {
background-color: black;
 scroll-snap-type: y mandatory;
 overflow-x: hidden;
 position: relative;
 
}
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -250px;
  transition: right 0.2s ease-in-out;
  backdrop-filter:blur(20px);
  z-index: 100;
  padding-top: 0.9rem;
  transition: 0.15s ease;
}
.sidebar:hover {
  box-shadow: 0 0 5px white;
}
.sidebar.active {
  right: 0;
}

.content {
  margin-left: 250px;
}

/* ===================pjesa e navigimit=================== */
#nav-logo {
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
width: 100vw;
z-index: 5;
box-shadow: 0 0 10px #1d1d1d;
padding-inline: 1rem;
backdrop-filter: blur(10px);
}
/* ==========================pjesa e header container================== */
#header-container {
background-image: url(../chance-2.jpg);
background-size: 100% auto;
  width: 100vw;
  height: 105vh;
  z-index: 3;
  background-attachment: fixed;
  position: relative;
}
#hamburger_menu {
font-size: 2.8rem;
color: white;
opacity: 0.7;
transition: 0.2s ease;
position: fixed;
top: 0;
right: 0;
padding:1rem 2rem 0 0;
z-index: 5;
}
 .sidebar i {
  font-size: 2.8rem;
  color: white;
  opacity: 0.7;
  transition: 0.2s ease;
  padding-left:1rem ;
}
.sidebar i span{
  font-family: 'Playfair Display', serif;

}
#hamburger_menu:hover,.sidebar i:hover {
opacity: 1;
cursor: pointer;
}
#header-title {
width: 70vw;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 4rem;
color: white;
text-shadow: 0 0 5px rgb(0, 34, 46);  
z-index: -2;
opacity: 0.8;
transition: background-position 0.5s ease;
}
#nav-logo .title a{
text-decoration: none;
  font-size: 3.5rem;
  font-weight: 700;
  padding-left: 1.5rem;
  color: #111;
  text-shadow: 0 0 2px #0f0f0f;
  position: relative;
  cursor: pointer;
}
#nav-logo .title span {
font-family: 'Oswald', sans-serif;
color: #000000;
text-shadow: 1px 1px 5px black;
font-size: 3rem;
}
.navbar {
  padding-top: 2rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.navbar-user {
margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.login_button,.navbar-user #logout,
.navbar-translator #logout,.navbar-admin #logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.618);
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.15s ease;
}
.login_button:hover,.navbar-user #logout,
.navbar-translator #logout,.navbar-admin #logout {
  background-color: black;
  box-shadow: 0 0 3px white;
}
.navbar-translator {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.navbar-admin {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.line_container {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-top: 1rem;
}
.user_sidebar.home {
  margin-left: 0.5rem;
  color: white;
  position: relative;
}
.line_container span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: white;
  transform: translate(5rem,10px);
}
.home,.user_sidebar {
  margin-left: 0.5rem;
  color: white;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
ul {
  padding-inline: 1rem;
  list-style: none;
}
ul li {
  padding-bottom: 1rem;
  padding-inline: 1.5rem;
  position: relative;
}

ul li a {
text-decoration: none;
color: white;
position: relative;
z-index: 6;
transition: 0.5s ease;
text-shadow: 0 0 3px black;
}

.home::after,ul li a::after {
content: "";
position: absolute;
bottom: -3px;
left: 0;
width: 100%;
height: 2px;
background-color: white;
transform: scaleX(0);
transition: transform 0.3s ease;
}

.home:hover::after,ul li a:hover::after {
transform: scaleX(1);
}
