* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau SC', sans-serif;
}

body {
  background-color: black;
   position: relative;
   overflow: hidden;
}
/* ===================pjesa e navigimit=================== */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -255px;
  transition: right 0.2s ease-in-out;
  backdrop-filter:blur(20px);
  z-index: 5;
  padding-top: 0.9rem;
  box-shadow:0 0 6px white ;
}

.sidebar.active {
  right: 0;
}

.content {
  margin-left: 250px;
  /* Add other styling for the content area */
}

.menu {
  list-style: none;
  padding-top: 1rem;
}

.menu li {
  padding: 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
}
/* ==========================pjesa e header container================== */
#nav-logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5rem;
  padding: 1rem 0 2rem 0;
  background-color: black;
  z-index: 4;
} 
#nav-logo::after {
  content: "";
  position: inherit;
  left: 0;
  bottom: 13px; /* Adjust this value to control the size of the glow */
  width: 100%;
  height: 3px; /* Adjust this value to control the height of the glow */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
  opacity: 0.8; /* Adjust the opacity of the glow */
  pointer-events: none; /* Ensure the pseudo-element doesn't interfere with interactions */
  z-index: -1; /* Place the pseudo-element behind the content */
  box-shadow: 0px 0px 10px rgb(255, 255, 255); /* Adjust the box-shadow properties */
}
#header-container {
  background-color: black;
  width: 100vw;
  height: 105vh;
  z-index: 8;
  background-attachment: fixed;
  position: relative;
  margin-top: 3.5rem;
}
#hamburger_menu {
font-size: 2.8rem;
color: white;
opacity: 0.7;
transition: 0.2s ease;
padding:0 2rem 0 0;
z-index: 100;
}
 .sidebar i {
  font-size: 2.8rem;
  color: white;
  opacity: 0.7;
  transition: 0.2s ease;
  padding-left:1rem ;
}
.sidebar i span{
  font-family: 'Playfair Display', serif;

}
#hamburger_menu:hover,.sidebar i:hover {
opacity: 1;
cursor: pointer;
text-shadow: 0 0 3px white;
}

#nav-logo .title a{
text-decoration: none;
  font-size: 3.5rem;
  font-weight: 700;
  padding-left: 1.5rem;
  color: white;
  text-shadow: 0 0 2px #0f0f0f;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
#nav-logo .title span {
font-family: 'Oswald', sans-serif;
color: #9c9c9c;
}
.navbar {
  padding-top: 2rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.navbar-user {
margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.login_button,.navbar-user #logout,
.navbar-translator #logout,.navbar-admin #logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.618);
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.15s ease;
}
.login_button:hover,.navbar-user #logout:hover,
.navbar-translator #logout:hover,.navbar-admin #logout:hover {
  background-color: black;
  box-shadow: 0 0 3px white;
}
.navbar-translator {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.navbar-admin {
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 400;
  height: 93%;
  width: 100%;
}
.line_container {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-top: 1rem;
}
.home,.user_sidebar {
  text-shadow: 0 0 4px black;
  margin-left: 0.5rem;
  color: white;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.line_container span {
  position: absolute;
  box-shadow: 0 0 2px black;
  top: 50%;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: white;
  transform: translate(5rem,10px);
}
.sidebar ul {
  padding-inline: 1rem;
  list-style: none;
}
.sidebar ul li {
  padding-bottom: 1rem;
  padding-inline: 1.5rem;
  position: relative;
}

.sidebar ul li a {
text-decoration: none;
color: white;
position: relative;
z-index: 6;
transition: 0.5s ease;
text-shadow: 0 0 3px black;
}

.home::after,ul li a::after {
content: "";
position: absolute;
bottom: -3px;
left: 0;
width: 100%;
height: 2px;
background-color: white;
transform: scaleX(0);
transition: transform 0.3s ease;
}

.home:hover::after,ul li a:hover::after {
transform: scaleX(1);
}


