* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau SC', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #111;
   scroll-snap-type: y mandatory;
   overflow-x: hidden;
   position: relative;
   
}
#nav-logo {
  position: absolute;
  width: 92%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 4;
} 
.mini-nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-nav .home {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 4px black;
  position: relative;
}
.home::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.home:hover::after {
  transform: scaleX(1);
}
#nav-logo .title {
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 5rem;
    color: #111;
    text-shadow: 0 0 2px #0f0f0f;
    position: relative;
    cursor: pointer;
}
#nav-logo .title span {
  font-family: 'Oswald', sans-serif;
  color: #9c9c9c;
}
.header-button-register a {
text-decoration: none;
color: black;
width: 100%;
transition: 0.3s ease;
font-size: 2rem;
}
.header-button-register a:hover {
  color: white;
}

/* register page button for login */

.header-button-register {
  width: 12vw;
  height: 8vh;
  background-color: rgb(242, 242, 242);
  border: none;
  position: relative;
  z-index: 2;
  text-align: center;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}

.header-button-register::after,
.header-button-register::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: transparent;
  z-index: -1;
  transition: width 0.7s ease, background-color 0.3s ease;
}
.header-button-register:hover::after,
.header-button-register:hover::before {
  width: 100%;
  background-color: #111;
}
.header-button-register:hover {
  color: white;
}
/* register index website part */
#header-container2 {
  background-image: url(../chance-2.jpg);
  background-size: 100% auto;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/* the wrapper frame for forms */
#frame-login {
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.6);
  margin-top: 3rem;
  width: 50%;
  height: 77vh;
  position: relative;
  transition: 0.4s;
  background-color: black;
  color: white;
}

.login-error {
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
  color: red;
}
/* jquery validate error texts color */
#formlogin .error {
  width: 50%;
  display: block;
  color: red;
}
label.error {
  color: red;
  width: 100%;
  display: block;
}
.error:focus {
  color: red;
  outline:2px solid red;
}

/* login-register form part */

#frame-login input[type='submit'] {
  display: block;
  width: 50%;
  height: 7vh;
  background-color: #000000;
  color: white;
  box-shadow: 0 0 3px white;
  font-weight: 700;
  border: none;
  margin:2rem auto;
  transition: 0.4s ease;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
#frame-login input[type='submit']:hover {
  background-color: white;
  color: #000000;
  box-shadow: 0 0 4px #000000;
}

#frame-login label {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
}
.remember-forgot {
  display: block;
  width: 80%;
  text-align: center;
  margin: 1rem 3rem;
  font-weight: 600;
}
.remember-forgot * {
  margin-left: 1.3rem;
}
#frame-login .form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
#frame-login .form-row input {
  width: 15rem;
  height: 6vh;
  margin: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0.8rem;
  font-size: 1.2rem;
  box-shadow: 0 0 5px white;
  border: none;
}
#frame-login .Account {
  padding:1rem 0;
  font-size: 1.1rem;
  padding:0.5rem 1.5rem ;
  position: relative;
  top: 0;
  left: 9rem;
}
#frame-login span #register-link {
  background-color: transparent;
  margin-left: 1rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: underline white;
  letter-spacing: 2px;
  font-weight: 600;
}
#frame-login span a { 
  color: white;
  font-weight: 700;
  transition: 0.3s ease;
  margin-left: 1rem;
}
#frame-login span a:hover {
  text-decoration-color:#fff ;
}

#frame-login .form-title {
font-size: 2rem;
text-align: center;
letter-spacing: 2px;
}