#header-container {
    display: flex;
  }
  #header-container .myaccount{
    width: 23%;
    height: 88vh;
    background-color: #ffffff;
    color: black;
    margin-left: 2%;
    box-shadow: 0 0 5px white;
  }
  #header-container .myaccount .sidebar-title {
    font-size: 2.5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #00000090;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
  }
  #header-container .myaccount ul {
   list-style-type: none;
  }

  #header-container .myaccount ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding-inline: 1rem;
    transition: 0.35s ease;
  }
  #header-container .myaccount ul li:nth-child(2) a {
    background-color: black;
    color: white;
  }
  #header-container .myaccount ul li a:hover {
   background-color: black;
   color: white;
  }
  #header-container .myaccount ul li i {
   font-size: 2rem;
  }
  #header-container .accountinfo{
    width: 75vw;
    height: 88.5%;
  }
  #header-container .accountinfo .detail-title{
    font-size: 2.5rem;
    color: white;
    padding-left: 5rem;
    letter-spacing: 3px;
    text-shadow: 0 0 2px white;
  }
  
#header-container .cancel-plan-row {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ffffff90 ;
    width: 100%;
    height: 3.5rem;
}
#header-container .cancel-plan-row #form1 {
    width: 30%;
    height: 100%;
}

#header-container .cancel-plan-row form #cancel {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: transparent;
    color: white;
    border:unset;
    border-left: 1px solid white;
    transition: 0.3s ease;
    cursor: pointer;
}
#header-container .cancel-plan-row form #cancel:hover {
    background-color: white;
    color: black;
}
/* =======plan details part====== */
.user-plan-info {
    width: 100%;
    height: 100%;
    color: white;
}
.user-plan-info .card-acc-status-container{ 
    width: 100%;
    height: 35%;
    display: flex;
}
.user-plan-info .card-acc-status-container .first-box {
    width: 50%;
    height: 100%;
}
.card-acc-status-container .payment-method {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    margin-left:2rem;
    width: 85%;
    border-bottom: 1px solid white;
}
.card-acc-status-container .sub-details {
    width: 85%;
    height: 40%;
    background-color: #111;
    margin-top: 1rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-acc-status-container .sub-details .active {
    background-color: green;
    padding:0.1rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 0.8rem;
}
.card-acc-status-container .sub-details .not-active {
    background-color: rgb(255, 0, 0);
    padding:0.1rem 0.7rem;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 0.8rem;
}
.user-plan-info .card-acc-status-container .second-box {
    width: 50%;
    height: 100%;
}
.subscription-info {
    width: 100%;
    height: 60%;
}
.subscription-info .sub-info {
    width: 92.2%;
    height: 70%;
    background-color: #111;
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan-plan {
    margin: 0.5rem 0 1rem 0;
    border-bottom: 1px solid white;
    width: 15%;
    font-size: 1.2rem;
    font-weight: 700;
    text-align:center;
}
.subscription-info .details-title{
    width: 92.2%;
    font-size: 1.4rem;
    margin-left: 2rem;
    border-bottom: 1px solid white;
}
.plan-type {
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 0.1rem 0.3rem;
    margin-top: 0.2rem;
}
.buy-title form #confirm {
    display: block;
    width: 50%;
    border: none;
    box-shadow: 0 0 3px black;
    height: 2rem;
    margin-inline: auto;
    color: black;
    font-size: 1.3rem;
    font-weight: 700;
 }
    .buy-title {
        font-size: 1.2rem;
        color: black;
        outline: 2px solid black;
        position: absolute;
        top: 20%;
        left: 40%;
        width: 40%;
        height: 25%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .buy-title i {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }