
    #header-container {
        display: flex;
    }
    /* ======plan features info ======= */
    .plan-display {
        color: white;
        border-top: unset;
        width:30%;
        height: 100%;
        margin-left: 2.7rem;
    }
    .plan-display .display-title {
        font-size: 2.5rem;
        text-align: center;
        color: black;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        letter-spacing: 2px;
        text-shadow: 0 0 1px black;
        text-transform: uppercase;
        background-color: white;
        padding: 0.1rem 0;
    }
    /* =======Toggle price part========= */
    .plan-display .toggle-price {
        text-align: center;
        font-size: 1.3rem;
        padding: 10px 0;
        border-bottom: 1px solid white;
        transition: 0.2s ease;
 }
 body {
    background-color: black;
    overflow-x: hidden;
}
    .services-wrapper {
        width: 100vw;
        height: auto;
        background-color: black;
    }
    .services-wrapper .service-big-title {
        font-size: 3.5rem;
        color: white;
        letter-spacing: 4px;
        text-align: center;
        padding-top: 2.5rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
    }
    .services-wrapper .service-info-wrapper {
        width: 80%;
        margin-inline: auto;
        height: auto;
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3.4rem;
    }
    .services-wrapper .service-info-item {
        width: 30%;
        height: 300px;
        box-shadow: 0 0 4px white ;
        position: relative;
        overflow: hidden;
        transition: 0.2s ease;
        }
        .services-wrapper .service-info-item:hover {
            box-shadow: 0 0 15px white;
            cursor: pointer;
        }
        .services-wrapper .service-info-item i {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: white;
            color: black;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
            border-bottom-right-radius: 3px;
            transition: 0.3s ease;
        }
        .services-wrapper .service-info-item i:hover {
            color: white;
            background-color: black;
            box-shadow: 0 0 3px white;
        }
    .service-info-item  .service-info-number {
        font-size: 2.5rem;
        display: block;
        text-align: center;    
        color: white;
        font-family: 'Roboto Mono', monospace;
    }
    .service-info-item .service-info-title {
        color: white;
        text-align: center;
        height: 4rem;
        font-size: 1.5rem;
        font-family: 'Oswald', sans-serif;
        padding-inline: 10px;
    }
     .service-info-item .service-info-text{
        color: rgb(187, 187, 187);
        font-family: 'Open Sans', sans-serif;
        padding-inline: 2rem;
        padding-top: 1rem;
    }
    .package-plan-wrapper {
        width: 90%;
        margin-inline: auto;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .package-plan-wrapper .package-plan-intro {
        color: white;
        font-size: 3rem;
        font-family: 'Playfair Display', serif;
        font-weight: 700;
        padding-left: 7rem;
    }
    .package-plan-wrapper .package-plan-intro span {
    font-family: 'Playfair Display', serif;
    width: fit-content;
    }
    .package-plan-wrapper .package-plan-intro .first-row {
        background-color: white;
    color: black;
        display: block;
    }
    .package-plan-wrapper .package-plan-intro .second-row {
        display: block;
        background-color: white;
    color: black;
        margin-left: 14rem;
    }
    .package-plan-wrapper .package-plan-intro .even-row {
        background-color: black;
        color: white;
        margin-left: 7rem;
    }
    .package-plan-wrapper .package-plan-item {
        background-color: black;
        border: 1px solid white;
        color: white;
        position: relative;
        width: 80%;
        margin-inline: auto;
        margin-top: 4rem;
        position: relative;
        transition: 0.3s ease;
        cursor: pointer;
    }
    .package-plan-wrapper .package-plan-item:hover{ 
        box-shadow: 0 0 10px white;
        background-color: rgb(19, 19, 19);
    }
    .package-plan-wrapper .package-plan-item:active,
    .package-plan-item:focus{ 
        background-color: rgb(13, 13, 13);
    }
    .package-plan-wrapper .login-now {
        text-align: center;
        height: 48px;
        background-color: white;
        width: fit-content;
        color: black;
        padding-top: 10px;
        margin-inline: auto;
    }
    .package-plan-wrapper .login-to-view {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 25%;
        height: 48px;
        border: none;
        font-size: 1.3rem;
        font-weight: 700;
        background-color: white;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .package-plan-wrapper .login-to-view:hover {
        background-color: black;
        color: white;
        box-shadow: 0 0 5px white;
    }
    .package-plan-wrapper .package-plan-features {
        list-style: none;
    
    }
    .package-plan-wrapper .package-plan-features li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.734);
        padding-inline: 2rem;
        width: 100%;
        font-size: 1.2rem;
        font-family: 'Open Sans', sans-serif;
    }
    .package-plan-wrapper .package-plan-features span {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        color: rgb(206, 206, 206);
        }
    .package-plan-wrapper .monthly-yearly {
        font-size: 1.5rem;
        letter-spacing: 3px;
        border-bottom: 1px solid white;
        padding-left: 1rem;
        font-family: 'Oswald', sans-serif;

    }
    .package-plan-wrapper .package-plan-deal {
        color: white;
        width: fit-content;
    }
    .package-plan-side-text {
        position: absolute;
        top: 0;
        left: -3rem;
        font-size: 2rem;
        transform: rotate(-180deg);
    writing-mode: vertical-lr;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    }
    #footer-section {
        box-shadow: 0;
    }
 /* =======services part============== */
 .buy-title form input {
    display: block;
    width: 30%;
    height: 2rem;
    margin-inline: auto;
 }
    .buy-title {
        font-size: 1.2rem;
        color: black;
        outline: 2px solid black;
        position: absolute;
        top: 20%;
        left: 40%;
        width: 40%;
        height: 25%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .buy-title i {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30px;
        height: 30px;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .highlighted {
        background-color: white;
        color: black;
        font-weight: 700;

    }
    .plan-display .toggle-price button {
        width: 2.5rem;
        height: 1.4rem;
        margin-inline: 1rem;
        border-radius: 20px;
        position: relative;
        border: 1px solid white;
        background-color: rgb(164, 164, 164);
        transition: 0.3s ease;
    }
    .plan-display .toggle-price button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 100%;
        background-color: black;
        transition: 0.3s ease;
    } 
    .plan-display .toggle-price button.active::before {
        left: 18px;
    }
    /* ========vazhdimi i features part======== */
    .plan-display .feature-list {
        text-align: center;
        list-style-type: none;
        font-size: 1.3rem;
        
    }
    .plan-display .feature-list li {
        padding: 0.5rem 0;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
    .plan-display .feature-list li:nth-child(odd) {
        background-color: #111;
        box-shadow: 0 0 1px white;
    }
   
    .plan-display .feature-list li:last-child {
        border-bottom: 1px solid #111;
    }
    /* ======price plan part====== */
    .prices-container {
        width: 65%;
        height: 100%;
        margin-left: 1rem;
        display: flex;
        justify-content: space-around;
    }
    .prices-container .price-item {
        width: 30%;
        height: 100%;
        background-color:black ;
        color: white;
        box-shadow: 0 0 3px #ffffff;
    }
    .prices-container .price-item:nth-child(2) {
        background-color: #111;
        color: white;
        border: unset;
    }
    .prices-container .price-item .checklist {
        text-align: center;
        list-style-type: none;
        font-size: 1.3rem;

    }
    .prices-container .price-item .checklist li {
        padding: 0.5rem 0;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
.prices-container .price-item .checklist li:nth-child(8) {
    border-bottom: 1px solid #111;
}
    .prices-container .price-item .checklist li:nth-child(odd) {
        background-color: #111;
        box-shadow: 0 0 1px white;
    }
    .prices-container .price-item:nth-child(2) .checklist li:nth-child(even) {
        background-color: #111;
        box-shadow: 0 0 1px white;
    }
    .prices-container .price-item:nth-child(2) .checklist li:nth-child(odd) {
        box-shadow: unset;
        background-color: black;
    }
    .prices-container .side-title {
        background-color: #111;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 0 0 1px white;
        padding: 0.1rem 0;
    }
    .prices-container .price-item:nth-child(2) .side-title {
        background-color: white;
        color: black;
        text-shadow: 0 0 1px black;
    }
    .prices-container .price-item .price-price {
        font-size: 1.5rem;
        padding: 0.5rem 0;
        text-align: center;
        border-bottom: 1px solid white
    }
    .prices-container .price-item .price-price span {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;;
    }
    .prices-container .price-item input[type='submit'] {
        width: 100%;
        height: 3rem;
        margin-top: 0.8rem;
        background-color: white;
        border: none;
        font-size: 1.4rem;
        font-weight: 700;
        transition: 0.3s ease;
    }
    .prices-container .price-item:nth-child(2) input[type='submit']{
        background-color: black;
        color: white;
        box-shadow: 0 0 2px white;
    }
    .prices-container .price-item:nth-child(1) input[type='submit']:hover,
    .prices-container .price-item:nth-child(3) input[type='submit']:hover
{
    background-color: #111;
    color: white;
    box-shadow: 0 0 2px white;
}
    .prices-container .price-item:nth-child(2) input[type='submit']:hover{
        background-color: white;
        color: black;
    }