#header-container {
    display: flex;
  }
  #header-container .myaccount{
    width: 23%;
    height: 88vh;
    background-color: #ffffff;
    color: black;
    margin-left: 2%;
    box-shadow: 0 0 5px white;
  }
  #header-container .myaccount .sidebar-title {
    font-size: 2.5rem;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #00000090;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
  }
  #header-container .myaccount ul {
   list-style-type: none;
  }

  #header-container .myaccount ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    padding-inline: 1rem;
    transition: 0.35s ease;
  }
  #header-container .myaccount ul li:nth-child(1) a {
    background-color: black;
    color: white;
  }
  #header-container .myaccount ul li a:hover {
   background-color: black;
   color: white;
  }
  #header-container .myaccount ul li i {
   font-size: 2rem;
  }
  #header-container .accountinfo{
    width: 75vw;
    height: 88.5%;
    display: flex;
    position: relative;
    padding-top: 1.5rem;
  }
  #header-container .accountinfo .detail-title{
    width: 100%;
    height: 3.5rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 5rem;
    letter-spacing: 3px;
    text-shadow: 0 0 2px white;
    border-bottom:1px solid #ffffff90 ;
    position: absolute;
    top:0;
    left: 0;
  }
  #header-container .accountinfo .detail-title span{
    text-align: center;
    padding-right: 3rem;
    padding-left: 2rem;
    margin-left: 1rem;
    width: 20%;
    border-left: 1px solid #ffffff90; 
    transition: 0.3s ease; 
}
#header-container .accountinfo .detail-title span:hover{
    background-color: white;
}
#header-container .accountinfo .detail-title span a{ 
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    letter-spacing: 3px;
}
#header-container .accountinfo .detail-title span a:hover {
    color: black;
} 

  .accountinfo .profilepicture {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
  }
  .accountinfo .profilepicture form {
    text-align: center;
    color: white;
  }
  .accountinfo .profilepicture form label {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .accountinfo .profilepicture form input[type='file'] {
    width: 100%;
    margin-top: 1rem;
    padding-left: 4.8rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .accountinfo .profilepicture img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px whitesmoke;
  }
  .accountinfo .user-details {
    width: 63%;
  }
  .accountinfo .user-details {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 3rem 3rem 0 0;
  }
  .accountinfo .user-details .form-row {
    width: 100%;
    height: 4rem;
    display: flex;
    gap: 1.8rem;
    justify-content: space-between;
    align-items: center;
  }
  .accountinfo .user-details .form-row input {
    width: 18rem;
    height: 2.5rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .accountinfo .user-details input[type='submit'] {
    width: 9rem;
    height: 2.5rem;
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    transition: 0.3s ease;
    border: none;
  }
  .accountinfo .user-details input[type='submit']:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 3px white;
}
  .accountinfo .user-details .form-row label {
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;

  }