* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau SC', sans-serif;
}
html {
scroll-behavior: smooth;
}
body {
background-color: #111;
 scroll-snap-type: y mandatory;
 overflow-x: hidden;
 position: relative;
 
}
#nav-logo {
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
width: 90vw;
z-index: 4;
} 
.mini-nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-nav .home {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 4px black;
  position: relative;
}
.home::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.home:hover::after {
  transform: scaleX(1);
}
#nav-logo .title {
  font-size: 3.5rem;
  font-weight: 700;
  padding-left: 5rem;
  color: #111;
  text-shadow: 0 0 2px #0f0f0f;
  position: relative;
  cursor: pointer;
}
#nav-logo .title span {
font-family: 'Oswald', sans-serif;
color: #9c9c9c;
}

/* ========register page button for login =========*/

.header-button-register {
width: 12vw;
height: 8vh;
background-color: rgb(242, 242, 242);
text-shadow: 0 0 1px #111;
border: none;
color: #111;
position: relative;
z-index: 2;
text-align: center;
align-self: center;
font-size: 1.9vw;
text-decoration: none;
cursor: pointer;
}
.header-button-register a {
  text-decoration: none;
  color: black;
  font-size: 2.2rem;
  transition: 0.3s ease;
}
.header-button-register a:hover {
  color: white;
  font-weight: 500;
}
.header-button-register::after,
.header-button-register::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 100%;
background-color: transparent;
z-index: -1;
transition: width 0.7s ease, background-color 0.3s ease;
}
.header-button-register:hover::after,
.header-button-register:hover::before {
width: 100%;
background-color: #000000;
}
.header-button-register:hover {
color: white;
}
/* register index website part */
#header-container2 {
background-image: url(../chance-2.jpg);
background-size: 100% auto;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* the wrapper frame for forms */
#frame-login {
box-shadow: 0 0 20px rgb(0, 0, 0, 0.6);
width: 60%;
height: 75vh;
backdrop-filter: blur(15px);    
display: flex;
justify-content: center;
margin-top: 3rem;
background-color: #000000;
}

/* jquery validate error texts color */

.error {
color: red;

}
.error:focus {
color: red;
outline:2px solid red;
}

/* REGISTER form part */
#register-form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  color: white;
}
.sukses {
  text-align: center;
}
#register-form .register-title {
font-size: 1.8rem;
margin: 1rem 0 2rem 0;
text-align: center;
}
#register-form .input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
#register-form .input-box .first-row {
  width: 50%;
}
#register-form .input-box .second-row {
  width: 50%;
}
#formregister span #login-link {
background-color: transparent;
color: #111;
margin-left: 3px;
border: none;
font-size: 1.1rem;
cursor: pointer;
text-decoration: underline white;
letter-spacing: 2px;
font-weight: 600;
}
#register-form .form-row {  
  border: none;
  height: 5rem;
  width: 100%;
}
#register-form .form-row label {
  text-align: center;
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: overline;
}
#register-form input[type='text'],input[type='tel'],input[type='email'],input[type='date'] {
  width: 18rem;
  height: 2rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0.8rem;
  box-shadow: 0 0 4px white;
  border: none;
  border: 1px solid gainsboro;
}
#register-form input[type='submit'] {
width: 100%;
height: 7vh;
background-color: #000000;
color: white;
border: none;
margin:1rem auto;
cursor: pointer;
transition: 0.3s ease;
font-size: 1.5rem;
letter-spacing: 3px;
box-shadow: 0 0 3px white;
} 
#register-form input[type='submit']:hover {
  color: black;
  background-color: white;
  box-shadow: 0 0 3px white;
  font-weight: 700;
}
#register-form span {
  text-align: center;
  font-size: 1.3rem;
}
#register-form span a {
  color: white; 
  font-weight: 700;
  margin-left: 5px;
  font-size: 1.4rem;
}
#register-form span a:hover {
text-decoration: white underline;
}
