
/*==================== the first section about us ======================*/
#first-section {
  box-shadow: 0 0 400px black;
  width: 100w;
  height: 105vh;
  background-color: #000000;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgb(0, 34, 46);
  scroll-snap-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
#first-section i {
  position: absolute;
  bottom: 3rem;
  left: 47.5vw;
  font-size: 5rem;
  color: white;
  z-index: 10;
  opacity: 0.5;
  transition: 0.2s ease;
}
#first-section i:hover {
  opacity: 1;
}
/* ============================text boxi i seksionit te pare============================ */
#first-section .section-text-box {
  width: 60%;
  height: 90%;
  padding: 1rem 3rem 4rem 5rem ;
  position: relative;
  display: flex;
flex-direction: column;
}
.section-text-box .text-box-name {
  border-bottom: 2px solid white;
  width: fit-content;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}
.section-text-box .text-box-title {
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 3.7rem;
  margin-bottom: 2.5rem;
  font-family: 'Playfair Display', serif;
}
.section-text-box .text-box-info {
  max-height: 5.8rem;
  width: 90%;
  height: 60%;
  color: #bbb;
  transition: max-height 1s ease;
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 1px;
}
.section-text-box .text-box-info span {
  font-size: 1.1rem;
  color: white;
  border-bottom: 1px solid white
}

.section-text-box a {
  text-decoration: none;
  margin-top: 2.5rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background-color: #313131;
    transition: 0.4s ease;
}
#first-section img {
  width: 12vw;
  height: 36vh;
  object-fit: cover;
 border-radius: 100%;
 box-shadow: 1px 0 20px rgb(1, 25, 34);
 transition: 0.4s ease;
}

#first-section img:hover {
  transform: scale(1.2) translateX(-45px);
}
#first-section .image-container {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 3vw;
  padding: 1rem;
  position: relative;
}
/*===================== wrapperi me paralax background dhe titull =================================*/
#wrapper {
  background-image: url(../images/chance-2-2.jpg);
  background-size: 110% auto;
  background-repeat: no-repeat;
  width: 100vw;
  height: 105vh;
  background-attachment: fixed;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  z-index: 3;
}
#wrapper i {
  position: absolute;
  bottom: 3rem;
  left: 47.5vw;
  font-size: 5rem;
  color: black;
  opacity: 0.8;
  transition: 0.2s ease;
}
#wrapper i:hover {
  opacity: 1;
}
#wrapper #wrapper-title {
  position: absolute;
  top: 30%;
  left: 5rem;
  width: 80%;
  color: #fff;
  font-size: 4em;
  text-shadow: 1px 0 6px #000000;
  font-weight: 700;
  z-index: 1;
  opacity: 0.8
}
#wrapper #wrapper-title span {
  color: #111;
  font-family: 'Oswald', sans-serif;
  opacity: 0.8;
}

/*============== seksioni i dyt me informata te meshumta per faqen ==============*/
#second-section {
  width: 100vw;
  height: 105vh;
  background-color: #000000;
  color: white;
  font-size: 2rem;
  scroll-snap-align: start;
  position: relative;
  z-index: 3;
  display: flex;
  box-shadow: 0 0 400px black;
}

/* =============pjesa e tekstit e seksionit te dyte============== */
.second-text-box {
  width: 50%;
  height: 100%;
  padding: 1rem 3rem 3rem 3rem;
}
.second-text-box .second-box-title {
  font-size: 3.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 5.5rem;
  padding-left: 1rem;
}
.second-box-title span {
  font-family: 'Playfair Display', serif;
  width: fit-content;
  background-color: white;
  color: #111;
}
.second-box-title .flickering-dot {
  background-color: transparent;
  color: white;
  animation: flickering-light 4s infinite alternate;
}
@keyframes flickering-light {
  0% {
    color: #fff;
  }
  50% {color: #000000;}
  100% {
    color: #fff;
  }
}
.second-text-box .second-box-subtitle {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  border-bottom:1px solid white;
  letter-spacing: 1px;
}
#second-section ul {
  padding:2rem 0 0 1.8rem;
}
#second-section .second-box-info {
  font-size: 1rem;
  padding-left: 0.5rem;
  font-family: 'Source Sans 3', sans-serif;
}
/*================= pjesa e kolazhit e ber me display grid=============== */
#second-section .second-section-img {
width: 80%;
object-fit: 100% auto;
padding-left: 4rem;
}
#second-section .second-box-img-collage {
  width: 45%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  margin-top: 7rem;
  column-gap: 20px;
}
.second-box-img-collage .item {
  position: relative;
  overflow: hidden;
}
.second-box-img-collage .item img {
  width: 110%;
  height: auto;
  object-fit: 100% auto;
  transition: transform 0.3s ease;
} 
/*===================== wrapperi i dyte me slogan why do it alone ========================*/
#second-wrapper {
  width: 100vw;
  height: 70vh;
  background-image: url(../images/image.jpeg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  z-index: 11;
}
/*============ seksioni i trete me informata rreth pakove online qe mundson faqja ===============*/
#third-section {
  width: 100vw;
  height: 60vh;
  background-color: #000000;
  position: relative;
  z-index: 5;
  display: flex;
}
/* =========tekti per info dhe butoni per navigim ne faqen services============= */
#third-section .plan-info { 
  width: 20%;
  height: 90%;
  color: white;
  margin: 2rem 0 2rem 4rem;
}
.plan-info .plan-title {
  width: 14rem;
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 1rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.plan-info .plan-subtitle {
  font-size: 1.3rem;
  padding-top: 0.5rem;
}
.plan-info .view-service-site {
  width: 9rem;
  height: 36px;
  color: white;
  border: none;
  margin:1rem 1.5rem;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0 0 2px white;
}
.plan-info .view-service-site a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.4s ease;
  letter-spacing: 1px;
}

.plan-info .view-service-site:hover {
  background-color: black;
  box-shadow: 0 0 2px 2px white;
}
.plan-info .view-service-site a:hover {
color: white;
}
/* ================= service boxes per preview te pakove================= */
.heading-primary{
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

.plan-section{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
.plan-section i {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background-color: black;
  color: white;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 20px;
}
.plan-section .plan{
  position: relative;
  width:18rem;
  height: 20rem;
  text-align: center;
  padding: 3px 2px;
  margin-right: 10px;
  margin-bottom: 2px;
  box-shadow: 0 0 5px white;
  transition: 0.7s ease;
}
.plan-section .plan:hover {
  transform: translateY(-15px);
}
.plan-section .plan .black-box {
  list-style-type: none;
}

.plan-section .plan .plan-price{
  font-size: 4rem;
}

.plan-section .plan .dollar{
  font-size: 2rem;
  font-weight: 400;
  vertical-align: middle;

}

.plan-section .plan .plan-features .plan-item{
  padding: 5px 0;
  border-bottom: 1px solid  #000000;
  list-style: none;
}
.plan-section .plan .plan-features {
list-style: none;
}
.plan-section .plan .btn{
  display: block;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
  transition: 0.3s ease-in-out;
}

.plan-section .plan .btn:hover{
background-color: #000000;
color: #ffffff;
border: 1px solid #000000;
font-weight: 900;
}

.plan-section .plan .btn-blue{
  background-color: #f6f6fe;
  color: #000000;
}

.plan-section .plan .btn-blue:hover{
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #f6f6fe;
}


.plan-section .basic{
  background-color: #ffffff;
}

.plan-section .pro{
  background-color: #000000;
  color: #ffffff;
}
.plan-section .pro i {
  background-color: white;
  color: #000000;
}
.black-box .plan-item-white {
  border-bottom: 1px solid #ffffff;
  padding: 5px 0;
}
.plan-section .master{
  background-color: #ffffff;
}
/*=========== wrapperi i trete qe nderlidhet me paralax me te dytin dhe i jep pergjigjen sloganit  ===========*/
#third-wrapper {
  background-image: url(../images/img-three.jpg);
  width: 100vw;
  height: 85vh;
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}
