.error {
  color: red!important;
  padding: -2rem 0!important;  
  }
  .error:focus {
  color: red;
  outline:2px solid red;
  }
 .file-progress .modifyButton {
  display: block;
    color: black;
    background-color: white;
    width: 15rem;
    height: 5.5rem;
    font-size: 2rem;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-20px);
  }
  .file-progress .message {
    position: absolute;
  top: 25%;
  left: 32%;
  width: 35%;
  z-index: 10;
  font-size:1.3rem;
  font-weight: 700;
  height: 250px;
  background-color: white;
  border: 1px solid #111;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;  
  }
.file-form .message {
  position: absolute;
  top: 30%;
  left: 32%;
  width: 35%;
  z-index: 10;
  font-size:1.3rem;
  font-weight: 700;
  height: 150px;
  background-color: white;
  border: 1px solid #111;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.file-progress .message button {
  width: 30%;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
.file-form .message button { 
  width: 30%;
  height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: 0 0 3px black;
  cursor: pointer;
}
.file-progress .message button a {
  color: white;
text-decoration: none;
}
#header-container {
    display: flex;
  }
  .file-form {
    width: 80vw;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 5px white;
  }
  .file-form #document {
    width: 40%;
    margin-inline: auto;
  }
  .file-form #document * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .file-form input[type='date'],textarea,label,select {
    display: block;
    padding-left: 1rem;
  }
  .file-form input[type='file'] {
    height: 2rem;
    padding-left: 7rem;
  }
  .file-form input[type='submit'] {
    height: 2.2rem;
    font-size: 1.3rem;
    background-color: white;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0 0 3px white;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .file-form input[type='submit']:hover {
    background-color: black;
    color: white;
    font-weight: 700;
  }
  .file-form input,textarea,select {
    width: 100%;
    height: 2rem;
    margin-top: 0.8rem;
  }
  .file-form textarea {
    max-width: 100%;
    max-height: 4rem;
    min-width: 100%;
    min-height: 4rem;
  }
  .file-form label {
    margin: 0.5rem 0;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
  }
  .file-title {
    width: 100%;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
  }
  .track-progress-text {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.3rem;
    text-align: right;
    padding-right: 1rem;
  }

  /* =====document proggress part======== */
  .file-progress {
    width: 70vw;
    height: 85vh;
    margin-inline: auto;
    border: 1px solid white;
    margin-top: 1rem;
    color: white;
    box-shadow: 0 0 5px white;
   
  }
  .progress-title {
    width: 100%;
    padding:0 10rem;
    height: auto;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
  }
  .file-progress span {
    display: inline-block;
  }
  .file-progress p, span,a {
    width: 100%;
    text-align: center;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  .file-progress p {
    margin: 1.25rem 0;
    padding-bottom: 1.4rem;
    border-bottom: 1px solid white;
  }
  .file-progress table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
  }
  .file-progress table th {
    border: 1px solid white;
    font-size: 1.2rem;
    height: 3rem;
  }
  .file-progress table td {
    border: 1px solid white;
    text-align: center;
    height: 2rem;
  }
  .file-progress table td:nth-child(3) {
  text-align: unset;
  padding-left: 0.5rem;
  }
  /* ========modify request data part======= */
  #modifyRequest fieldset{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid white;
  }
  #modifyRequest label {
    font-size: 1.3rem;
  }
  .request-id-modify {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding: 1rem 0;
  }
  #modifyRequest fieldset:nth-child(3) {
    padding-inline: unset;
    padding-right: 2rem;
  }
  #modifyRequest {
    margin-top: 2rem;
    width: 90%;
    margin-inline: auto;
    border: 1px solid white;
  }
  #modifyRequest textarea {
    max-width: 75%;
    min-width: 75%;
    max-height: 80%;
    min-height: 80%;
    margin-bottom: 0.9rem;
    padding-top: 0.3rem;
    font-size: 1.2rem;
  }
  #modifyRequest input[type='datetime-local'] {
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 2rem;
  }
  #modifyRequest input[type='datetime-local'],select {
    width: 60%;
    height: 2rem;
  }
  #modifyRequest input[type='submit'] {
    width: 40%;
    height: 3rem;
    float: right;
    border: none;
    background-color: white;
    font-weight: 700;
    outline: 1px solid wheat;
    transition: 0.3s ease;
    cursor: pointer;
}
#modifyRequest input[type='submit']:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 3px white;
}
/* ==============dashboard part for the translator =============== */